.container
  = simple_form_for([:dashboard, @mission], html: { class: 'form-horizontal' }) do |form|
    = form.association :parent, collection: @parent_missions
    = form.input :name
    = form.input :description
    = form.input :duration
    = form.input :price
    = form.button :submit
