.container
  = simple_form_for([:dashboard, @photo], html: { class: 'form-horizontal' }) do |form|
    = form.input :photo
    = form.input :name
    = form.input :description
    = form.button :submit
