-# - if params[:type].present? && params[:type] == 'user'
-#   = render 'users/registrations/form'
-# - else
-#   = render 'pros/registrations/form'

!!!

= render 'slides'
.container
  .row
    .col-md-8.col-md-offset-2
      %h2.headline.centered.margin-top-80
        Pourquoi Owfleek ?
        %span.margin-top-25 Rejoignez le mouvement
  .row.icons-container
    / Stage
    .col-md-3
      .icon-box-2.with-line
        %i 1
        %h3 Devenez indépendant
        %p
          Nous vous accompagnons dans toutes les étapes vers votre indépendance. En rejoignant la commuanuté, vous bénéficierez de conseils pour vous déveloper vous, et votre activité.

    / Stage
    .col-md-3
      .icon-box-2.with-line
        %i 2
        %h3 Gagnez en visiblité
        %p
          Bénéficiez d’un site professionel, pour mieux intéragir avec vos clients.
          Partagez y vos prestations, vos horaires de travail ainsi que vos photos.


    / Stage
    .col-md-3
      .icon-box-2.with-line
        %i 3
        %h3 Soyez organisé
        %p
          Organisez vos rendez-vous simplement :
          Rappel par SMS, gestion de votre emploi du temps, et même la planification de votre trajet.

    / Stage
    .col-md-3
      .icon-box-2.with-line
        %i 4
        %h3 Faites plus de réservations
        %p
          Partagez votre page sur vos réseaux sociaux, et facilitez la prise de rendez-vous pour vos clients. Créez des newsletter par SMS/email grâce à notre outil et développez votre activité.

    / Stage
    -# .col-md-3
    -#   .icon-box-2
    -#     %i 4
    -#     %h3 Encaissez vos paiements
    -#     %p
    -#       Acceptez les paiements par CB, et obtenez les paiements le jour suivant sur votre compte bancaire. Configurez une politique d'annulation, et évitez les clients peu sérieux.

    .col-md-12
      %br
      %br
      .center-align
        = image_tag 'https://www.styleseat.com/bundles/assets/join_screenshot.eaea7d747811fe4a31ae61490cbfad8d.jpg', width: '100%'
        %h3.headline.centered.margin-bottom-50.border-bottom
          Offrez-vous votre indépendance
  / Container / Start

-# .container
-#   %section.fullwidth.border-top.margin-bottom-40{"data-background-color" => "#ffffff", :style => "background: rgb(255, 255, 255);"}
-#   .row.margin-bottom-65
-#     .col-md-12
-#       %h3.headline.centered.margin-bottom-50
-#         Donnez-vous les outils pour y arriver
      -# %ul.listing-features.checkboxes.margin-top-0
      -#   %li Elevator in building
      -#   %li Friendly workspace
      -#   %li Instant Book
      -#   %li Wireless Internet
      -#   %li Free parking on premises
      -#   %li Free parking on street
      -#   %li Elevator in building
      -#   %li Friendly workspace
      -#   %li Instant Book
      -#   %li Wireless Internet
      -#   %li Free parking on premises
      -#   %li Free parking on street

.parallax{"data-background" => "#{image_path('slides/slider-bg-01.jpg')}", "data-color" => "#36383e", "data-color-opacity" => "0.6", "data-img-height" => "505", "data-img-width" => "800", :style => "background-image: url(#{image_path('slides/slider-bg-01.jpg')}); background-attachment: fixed;"}
  .parallax-overlay{:style => "background-color: rgb(54, 56, 62); opacity: 0.6;"}
  / Infobox
  .text-content.white-font
    .container
      .row
        .col-lg-6.col-sm-8
          %h2 Professionalisez votre activité
          %p
            Que vous soyez coiffeuse, maquilleuse, esthéticienne, prothésiste ongulaire,.. Owfleek vous accompagne vers votre indépendance.
          %br
          = simple_form_for(@lead) do |f|
            %div
              .form-inputs
                = f.input :email, as: :email, required: true
                = f.input :phone, as: :tel, required: true
            %input#submit.submit.button{:type => "submit", :value => "Tester Owfleek"}/



            -# %a.button.margin-top-25{:href => "listings-list-with-sidebar.html"} Get Started
  / Infobox / End

/ Logo Carousel
.container.margin-bottom-40
  .row
    .col-md-12
      %h3.headline.centered.margin-bottom-40.margin-top-60
        Nos partenaires
        %span Owfleek, c'est aussi des partenaires de renom
    / Carousel
    .col-md-12
      .logo-slick-carousel.dot-navigation
        .item
          = image_tag "partners/frenchtech.png"
        .item
          = image_tag "partners/numa.png"
        .item
          = image_tag "partners/stationf.png"
        .item
          = image_tag "partners/hec.png"
        .item
          = image_tag "partners/cci.png"
