%h2 Sign up
= simple_form_for(User.new, as: :user, url: registration_path(:user)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true
    = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
    = f.input :password_confirmation, required: true
  .form-actions
    = f.button :submit, "Sign up"
= render "users/shared/links", resource_name: devise_mapping_for('User').name, devise_mapping: devise_mapping_for('User'), resource_class: devise_mapping_for('User').to
